

<!--
* File: appcomponents.css
* Author: Rohrbacher Marcell
* Copyright: 2022, Rohrbacher Marcell
* Group: Szoft II/N
* Date: 2022-01-013
* Github: https://github.com/Marci971104
-->

<h1>Testtömegindex </h1>
<h1>Rohrbacher Marcell János  2022.01.13 SZOFT II/N</h1>


<div id="start">
<form [formGroup]="indexForm">
  <label for="tomeg">Testtömeg : </label>
  <input placeholder="Kérem a testtömeget!" id="tomeg" formControlName="tomeg">
  
  <br>
  <label for="magassag">Magasság : </label>
  <input placeholder="Kérem a magasságot!" id="magassag" formControlName="magassag">
  
  
  <br>
  <button (click)="onClickSzamit()">Számol</button>
  
  
  <div *ngIf="testtomegindexVisible">
    <label>Testtömegindex</label>
    <input formControlName="testtomegindex">
  </div>
</form>
</div>